<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<h1>Estimado <%=@user.nombre%></h1>
    <p>Bienvenido al sistema de reportes SyDTI
    se te notifica la integración de tu cuenta
    <%=@user.email%> al sistema, tu password temporal es
     sydti123456 se te recomienda cambiarla una vez ingresando por primer 
     ocasión <a href="http://localhost:3000">Link al sitio web</a></p>
  </body>
</html>