<h1 class="alert alert-info text-center">Editar Tienda</h1>

<%= render 'form' %>

<%= link_to 'Mostrar', @store, 
	"data-inline"=>"true" , "data-role"=>"button" %>
<%= link_to 'Registrar', stores_path, 
	"data-inline"=>"true" , "data-role"=>"button" %>
