<p>Estimado(a) <%= @resource.email %>!</p>

<p>Haz solicitado el cambio de tu contraseña, en caso de ser así se te solicita presionar el siguiente enlace.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no solicitaste el cambio de contraseña por favor ignora este mensaje.</p>
<p>Tu contraseña no será modificada hasta que presiones el enlace superior.</p>
